*
!deployment/
!deployment/**
!auto_service_management/
!auto_service_management/**
!bench-data/
!bench-data/bench-home/
!bench-data/bench-home/frappe-bench/
!bench-data/bench-home/frappe-bench/apps/
!bench-data/bench-home/frappe-bench/apps/frappe/
!bench-data/bench-home/frappe-bench/apps/frappe/.git/
!bench-data/bench-home/frappe-bench/apps/frappe/.git/**
!bench-data/bench-home/frappe-bench/apps/erpnext/
!bench-data/bench-home/frappe-bench/apps/erpnext/.git/
!bench-data/bench-home/frappe-bench/apps/erpnext/.git/**
!bench-data/bench-home/frappe-bench/apps/hrms/
!bench-data/bench-home/frappe-bench/apps/hrms/.git/
!bench-data/bench-home/frappe-bench/apps/hrms/.git/**
!bench-data/bench-home/frappe-bench/apps/uganda_compliance/
!bench-data/bench-home/frappe-bench/apps/uganda_compliance/.git/
!bench-data/bench-home/frappe-bench/apps/uganda_compliance/.git/**
