DB_ROOT_PASSWORD=change-me-local-db-password
MYSQL_ROOT_PASSWORD=change-me-local-db-password
ADMIN_PASSWORD=change-me-local-admin-password
SITE_NAME=dms-image.localhost
CUSTOM_IMAGE=aslamkimb/frappe-dms-ug:dev-31f2cae-r3
FRONTEND_PORT=18080
